* {
    z-index: 6;
}

.addPetContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(200, 200, 200);
    border: 2px solid black;
    padding: 3%;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    border: 1px solid black;
}

.formData {
    width: 29%;
    margin: 10px;
}

.formDataSpace {
    background-color: rgb(255, 255, 255);
    width: 60%;
    border: 1px solid black;
}

#addPetButton {
    margin: 5px;
    margin-left: 35%;
    padding: 5px;
    border: 2px solid black;
    border-radius: 12%;
    background-color: rgb(86, 125, 99);
    border: 1px solid black;
    color: black;
}

#addPetButton:hover {
    background-color: rgb(60, 86, 68);
}