/* MAIN */
* {
    box-sizing: border-box;
}

#main {
    display: flex;
    flex-direction: column;
    height: 45vh;
    position: relative;
}

.background-video, #background-pic {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.background-video.show, #background-pic.show {
    opacity: 1;
}

#button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 5vh; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 2;
}


#button-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 30px;
    padding: 5vh;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#button-container button:hover {
    background-color: rgba(200, 200, 200, 0.8);
}
.icon {
    width: 19vh;
    height: 19vh;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-label {
    font-size: 1.8rem;
    padding-top: 2vh;
    color: #333;
}


/*FILTERS */

.filters-sort-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6vh 8vh 0vh 8vh;
    z-index: 1000;
}
/* Box that shows up after clicking filters */

.filter-by-container {
    display: flex;
    flex-direction: column;
    max-width: 55vh;
}

/* Filter options box */

.filter-options-box.ng-star-inserted {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 1vh;
    border: 1px solid rgb(86, 125, 99);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1px 20px 20px 20px;
    min-width: fit-content;
  }
  /* top row inside a filter containers filters */
.top-row-container {
    display: flex;
}

.filter-basic-options {
    display: grid;
    gap: 1vh;
    grid-template-columns: 1fr 1fr;
    padding: 0.5vh;
}

.filter-by-type, .filter-by-gender{
    background-color: rgba(86, 125, 99, 0.512);
    padding: 1vh;
    border-radius: 20px;

}

.reset-box{
    align-self: flex-end;
    padding: 1vh;
}


/* Top row add filters box - one on the rigth */

.add-filters {
    display: flex;
    gap: 1vh;
    padding:1vh;
    align-self: flex-start;
}


/* Add behavior filterS:` */

.add-filters-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Chose filter */

select {
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    -ms-appearance: none;
    margin-left:2vh ;
    width: 25vh;
    padding: 0px 5px 0px 5px;
    border-color: rgb(86, 125, 99);
    border-style: solid;
    border-radius: 5px;
    max-height: 4vh;
  }

  select:focus {
    outline: none;
  }

  select:hover {
    cursor: pointer;
  }

option {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color:rgb(86, 125, 99);
  }

.add-filters {
    display: flex;
    flex-direction: row;
}

/* bottom row in the filters container */
.current-filters{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 10px 2px 10px 2px;
    max-height: fit-content;
    min-width: fit-content;
    flex-wrap: wrap;
    
}

.filter-select-button{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    column-rule: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(86, 125, 99);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 5px;
    max-height: 30px;
    min-width: fit-content;
    max-width: max-content;
    
}

/* Sort by */

/* filter buttons */

#applyFilters {
    margin-left: 5px;
    max-height: 40px;
    min-width: 50px;
    flex-direction: row;
}

/* bottom row in the filters container */
.current-filters{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 10px 2px 10px 2px;
    max-height: fit-content;
    min-width: fit-content;
    flex-wrap: wrap;
    
}

.filter-select-button{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    column-rule: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(86, 125, 99);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 5px;
    max-height: 30px;
    min-width: fit-content;
    max-width: max-content;
    
}

/* Sort by */

/* filter buttons */

#applyFilters {
    margin-left: 5px;
    max-height: 40px;
    min-width: 50px;
}


#Reset, #applyFilters {
    background-color:rgb(86, 125, 99);
    border-radius: 10%;
    border-color: rgb(86, 125, 99);
    border-style: solid;
    color: white;
}

#Reset:hover, #applyFilters:hover {
    background-color:rgb(165, 232, 165) ;
    border-color:rgb(165, 232, 165) ;
}

.primary {
    background-color: rgb(86, 125, 99);
    height: 50px;
    width: 80px;
    margin: 2px;
    border-radius: 10%;
    border-color: rgba(86, 125, 99, 0.784) ;
    border-style: solid;
    color: white;
}
.primary:hover {
    background-color:rgb(165, 232, 165) ;
    border-color:rgb(165, 232, 165) ;
}

.secondary {
    height: 4vh;
    width: 7vh;
    margin: 0.2vh;
    border-radius: 20px;
    background-color: rgba(86, 125, 99, 0);
    border: none;
    color: white;
}
.secondary:hover {
    background-color: rgba(86, 125, 99, 0.512) ;
    border: none;
}

/* Pet listing */

.pets-headder{
    color:  rgb(86, 125, 99);
    font-family: Inter;
    font-size: 49.92px;
    font-weight: 900;
    line-height: 69.89px;
    text-align: left;
    margin: 0vh 0vh 4vh 8vh;
    text-decoration: underline;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;


}

#pet-listing-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40vh, 1fr));
    gap: 6vh;
    padding: 0vh 8vh 8vh 8vh;
    background-color: rgb(255, 255, 255);
}

