
<section id="shelterPage">
    <div class="shelter-card card">

        <h1>{{currentPet.name}}</h1>

        <div class="image-box">
            <img src="{{currentPet.photo}}"alt="Photo of the shelter named {{currentPet.name}}">
        </div>
        <div class="description-box">
            <span>About Pet:</span>
            <p>
                {{currentPet.description}}
            </p>
            <div class="bottom-info">
                
                <div class="address">
                    <span>Pet Info:</span>
                    <p>Age: {{currentPet.age !== 0 ? currentPet.age : 'Unknown'}}</p>
                    <p>Race: {{currentPet.race !== "" ? currentPet.race : 'Unknown'}}</p>
                    <p>Behaviors: {{getBehaviorString()}}</p>
                    <p>Type: {{currentPet.type !== '' ? currentPet.type : 'Unknown'}}</p>
                    <p>Gender: {{currentPet.gender !== null ? currentPet.gender : 'Unknown'}}</p>
                    <p>Date added: {{currentPet.date_added | date: 'shortDate'}}</p>

                </div>
            </div>
        </div>
    </div>
</section>
