
<section id="shelterPage">
    <div class="shelter-card card">

        <h1>{{currentPet.name}}</h1>

        <div class="image-box">
            <img src="{{currentPet.photo}}"alt="Photo of the shelter named {{currentPet.name}}">
        </div>
        <div class="description-box">
            <span>About Pet:</span>
            <p>
                {{currentPet.description}}
            </p>
            <div class="bottom-info">
                <div class="email">
                    <span>Name</span>
                    <p> - {{currentPet.name}}</p>
                </div>
                <div class="address">
                    <span>Info</span>
                    <p> - {{currentPet.race}}: {{currentPet.behaviors}}, {{currentPet.type}}, {{currentPet.gender}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
