/* MAIN */
* {
    box-sizing: border-box;
}

#main {
    display: flex;
    flex-direction: column;
    height: 40vh;
    position: relative;
}

.background-video, #background-pic {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.background-video.show, #background-pic.show {
    opacity: 1;
}

#button-container {
    z-index: 2;
}


/*FILTERS */

#Filters {
    display: flex;  
    justify-content: space-between;     
    margin: 10px 40px 10px 40px; 
    z-index: 2;
}

.FilterLeft {
    display: flex;
    flex-direction: column;
}

.FilterLeftBox {
    display: flex;
    align-items: center; 
}

#FilterButtonBox {
    margin-right: 2px;
}

#OptionButtonBox {
    display: flex;
    gap: 5px; 
    min-height: 30px;
    transition:ease-in-out 0.5s;  
    opacity: 0;
}

#OptionButtonBox[style*="visibility: visible"] {
    opacity: 1; 
}


#SortByButton {
    width: 80px;
    background-color: white;
}


#SortByButton {
    width: 80px;
    background-color: white;
}

#Reset {
    background-color:rgb(86, 125, 99);
    border-radius: 10%;
    border-color: rgb(86, 125, 99);
    border-style: solid;
    color: white;
}

#Reset:hover {
    background-color:rgb(165, 232, 165) ;
    border-color:rgb(165, 232, 165) ;
}

.FilterRight {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.primary {
    background-color: rgb(86, 125, 99);
    height: 50px;
    width: 80px;
    margin: 2px;
    border-radius: 10%;
    border-color: rgba(86, 125, 99, 0.784) ;
    border-style: solid;
    color: white;    
}
.primary:hover {
    background-color:rgb(165, 232, 165) ;
    border-color:rgb(165, 232, 165) ;
}

.secondary {
    background-color:rgb(233, 160, 255);
    height: 30px;
    width: 60px;
    margin: 2px;
    border-radius: 10%;
    border-color: rgb(233, 160, 255) ;
    border-style: solid;  
    color: white;
}
.secondary:hover {
    background-color:rgb(246, 215, 253) ;
    border-color:rgb(246, 215, 253) ;
}

