<section id="Filters">  
    <div class="FilterLeft">
        <div class="FilterLeftBox">
            <div id="FilterButtonBox">
                <button class="primary" type="button" (click)="toggleFilterOptions()">Filters</button>
            </div>
            <!-- Filter options -->
            <div id="OptionButtonBox" [style.visibility]="showFilterOptions ? 'visible' : 'hidden'"> 
                <button class="secondary" type="button" (click)="filterByType('cat')">Cats</button>
                <button class="secondary" type="button" (click)="filterByType('dog')">Dogs</button>
                <button class="secondary" type="button" (click)="filterByGender('Male')">Male</button>
                <button class="secondary" type="button" (click)="filterByGender('Female')">Female</button>
                <button id="Reset" class="secondary" type="button" (click)="resetFilters()">Reset</button>
            </div>
        </div>
    </div>
    <div class="FilterRight">
        <div>
            <button id="SortByButton" class="primary">Sort By</button>
        </div>
    </div>
</section>
<section>
    <app-pets-listing *ngFor="let petsListing of petsListingList" 
                      [petsListing]="petsListing">
    </app-pets-listing>
</section>
