<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="container">
  <form (ngSubmit)="register(registerForm)" #registerForm="ngForm">
    <div class="input-wrapper">
      <i class="fa-solid fa-user"></i>
      <input 
        type="text" 
        id="username" 
        name="username" [(ngModel)]="username" 
        placeholder="Enter your username" 
        required/>
    </div>
    
    <div class="input-wrapper">
      <i class="fa-solid fa-envelope"></i>
      <input 
        type="email" 
        name="email" [(ngModel)]="email" 
        placeholder="Enter your email" 
        required
        />
    </div>
    <div class="error" *ngIf="registerForm.controls['password']?.errors?.['minlength'] && registerForm.controls['password']?.touched">
      <p>Password must be at least 6 characters long.</p>
    </div>
    <div class="input-wrapper">
      <i class="fa-solid fa-lock"></i>
      <input 
        type="password"
        #passwordInput
        name="password" [(ngModel)]="password" 
        minlength="6"
        (focus)="onPasswordFocus()" 
        placeholder="Enter your password"
        required/>
    </div>
    <div class="input-wrapper">
      <i class="fa-solid fa-lock"></i>
    <input 
      type="password" 
      name="confirmPassword" [(ngModel)]="confirmPassword" 
      #confirmPasswordInput
      (focus)="onPasswordFocus()" 
      placeholder="Confirm your password"
      required/>
    </div>

    <mat-form-field class="filter-options">
      <mat-select [(ngModel)]="selectedFilters" name="selectedFilters" placeholder="Select your pet preferences" multiple>
        <mat-option *ngFor="let option of filterOptions" [value]="option">{{ option }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" [disabled]="registerForm.invalid" [ngClass]="{'disabled-button': registerForm.invalid}">Sign Up</button>
    <div class="shelter-signup">
      <span>Are you a shelter? </span><a href="/register/shelter">Sign up here</a>
    </div>
  </form>
  <div class="image"></div>
  <div class="ear-l"></div>
  <div class="ear-r"></div>
  <div class="panda-face">
    <div class="blush-l"></div>
    <div class="blush-r"></div>
    <div class="eye-l">
      <div class="eyeball-l"></div>
    </div>
    <div class="eye-r">
      <div class="eyeball-r"></div>
    </div>
    <div class="nose"></div>
    <div class="mouth"></div>
  </div>
  <div #handL class="hand-l"></div>
  <div #handR class="hand-r"></div>
</div>
</body>