<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
</head>
<nav id="nav">
    <div class="search">
        <img src="assets/search-icon.png" alt="Search Icon">
        <input type="text" placeholder="Search for pets in Denmark" class="input-box">
    </div>
    <ul class="nav-links">
        <li><a href="adopt">Adopt</a></li>
        <li><a href="about-us">About Us</a></li>
        <li><a href="swipe">Swipe</a></li>
        <li><a href="shelters">Shelters</a></li>
    </ul>
</nav>