<div *ngIf="showPopup" id="popup-container">
    <h1> {{petName}} was just added </h1>
    <img *ngIf="petPhoto" [src]="petPhoto" alt="{{ petName }}" class="petPhoto" />
    <p>Age: {{petAge }}</p>
    <button (click)="$event.stopPropagation(); toggleLike()" class="like-button">
        <i [ngClass]="isLiked ? 'fa-solid fa-heart' : 'fa-regular fa-heart'"></i>
    </button>
    <button id="popupPetInfo" class="popupButton" (click)="popupPet()">Pet info</button>
    <button id="popupPetLike"class="popupButton" (click)="popupClose()">Close</button>
</div>