.shelters {
  
}


h1 {
    color: #679576;
    font-size: 49;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 4vh;
    margin: 0px;
    text-align: center;
    animation-delay: 0.2s;
}


.shelters-container {
    display: grid;
    gap: 3vh;
    grid-template-columns: repeat(auto-fill, minmax(50vh, 1fr));
    padding: 2vh 5.2vh 10vh 5.2vh;
    animation-delay: 0.6s;
}




.shelter-card{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transform: box-shadow 0.3s ease;
}

.shelter-card:hover{
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;

}

.shelter-card img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}


.shelter-card-info{
    position: absolute;
    inset-block-start: 65%;
    width: 100%;
    max-height: fit-content;
    background-color: rgb(240, 240, 240);
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.shelter-card-info:hover{
    opacity: 1;
}


.shelter-card-info h2{
    color: #679576;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.shelter-card-info p{
    color: #000000;
    font-size: 16px;
    margin: 0px;
    padding-bottom: 1.1vh;
    font-weight: bold;
    text-align: center;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}



