@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

/* basic styling */
body {
    margin: 0;
    scrollbar-width: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }