<div class="swipe-field" >
    <div class="arrow" *ngIf="isListLoaded" (click)="getNewPet()">
        <mat-icon class="arrow-icon">west</mat-icon>
    </div>
    <div class="swipe-window" *ngIf="isListLoaded" [ngClass]="{'swipe-left': isRejected, 'swipe-right': isLiked}">
         <div class="pet-image-container">
          <img [src]="displayedPet.photo" class="pet-image" alt="Pet image"/>
         </div>
        <div class="swipe-description">
            <h3>{{ displayedPet.name }}, {{ displayedPet.age }}</h3>
            <p>Gender: {{ displayedPet.gender }}</p>
            <div class="choice-buttons">
                <mat-icon class="icon" id="reject-icon" (click)="rejectPet()">not_interested</mat-icon>
                <mat-icon class="icon" id="favorite-icon" (click)="likePet()">favorite</mat-icon>
            </div>
        </div>
    </div>
    <div class="arrow" *ngIf="isListLoaded" (click)="getNewPet()">
        <mat-icon class="arrow-icon" >east</mat-icon>
    </div>
    <div class="no-more-pets" *ngIf="petSlot===-1">
        <h1>Nothing to see here!</h1>
        <h3>Come back later for more pets.</h3>
    </div>
</div>
